.header {
    position: relative;
    background: #fffef2;

}



.header .hd_wrap {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;

    margin: 0 160px;
    /* 상하 좌우 */
    height: 80px;


}

.header .hd_wrap h1 {
    flex: 0 0 120px;


    /* 
    flex-grow 남는 공간이 있어도 이 아이템은 커지지 않음
    flex-shrink 공간이 부족해도 이 아이템은 절대 작아지지 않음 
    flex-basis 기본 크기를 120px로 지정함 */
}

.header .gnb {
    /* 내일조정 */
    margin-left: 410px;
}

.header .gnb>ul {
    display: flex;
    white-space: nowrap;
    gap: 40px;
}

.header .gnb>ul>li>a {
    display: block;
    line-height: 80px;
    /* 120 */
    /* padding: 0 24px; */
}

.header .gnb>ul>li .sub {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 4;

    /* background: #fff; */

    height: 0;
    overflow: hidden;
    transition: 0.6s;
}

.header .gnb>ul>li .sub::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    height: 0;
    border-top: 1px solid #ddd;
}

.header .gnb>ul>li:hover .sub {
    height: 600px;
}

.header .gnb .sub01 {
    background: #fffef2;
}

.header .gnb .sub02 {
    background: #f6f5e9;
}

.header .gnb .sub03 {
    background: #eae3d5;
}

.header .gnb .sub04 {
    background: #f6f1ed;
}

.header .gnb .sub05 {
    background: #ddd8d4;
}

.header .gnb .sub06 {
    background: #f3ece5;
}

.header .gnb .sub07 {
    background: #eaf0e4;
}

.header .gnb .sub08 {
    background: #ebeae0;
}

.header .gnb>ul>li .sub .sub_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 160px;
    padding: 80px 0;

}

.header .gnb>ul>li .sub .sub_wrap .left ul {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 40px 40px;
}

.header .gnb>ul>li .sub .sub_wrap .left ul>li a {
    font-size: 18px;
    font-weight: 400;

}

.header .gnb>ul>li .sub .sub_wrap .left {
    flex: 1;
}

.header .gnb>ul>li .sub .sub_wrap .right {
    flex: 1;
}

.header .gnb>ul>li .sub .sub_wrap .right figure img {
    width: 880px;
    height: 440px;
    object-fit: cover;
}

.header .utils {
    align-items: center;
    display: flex;
    gap: 16px;
    margin-left: 150px;
}

/* 메인배너 */

.main_visual {
    background: #fffef2;
    position: relative;
}

.main_visual .main_visual_slide .itm {
    display: flex;
    height: calc(100vh - 240px);
    gap: 120px;
}

.main_visual .main_visual_slide .itm01 {
    background: #f6f5e9;
}

.main_visual .main_visual_slide .itm02 {
    background: #eeeaee;
}

.main_visual .main_visual_slide .itm03 {
    background: #f6f5e9;
}

.main_visual .main_visual_slide .left {
    margin-left: 160px;
    padding-top: 120px;
    padding-bottom: 120px;

    flex: 1;
}

.main_visual .main_visual_slide .right {
    flex: 3;
    overflow: hidden;

}

.main_visual .main_visual_slide .itm .right img,
.main_visual .main_visual_slide .itm .right video {
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 240px);

    object-fit: cover;
    /* 내가 설정한 화면에 배너가 이미지가 가득 차게 하는 속성  */

}

/* !!!조정 */

.main_visual .main_visual_slide .itm .txt strong {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 32px;
}

.main_visual .main_visual_slide .itm .txt em {
    display: block;
    font-size: 30px;
    margin-bottom: 32px;
    font-weight: 400;

    /* white-space: nowrap; */
}

.main_visual .main_visual_slide .itm .txt p {
    display: block;
    line-height: 32px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 32px;
}


/* 메인배너 버튼 */

.main_visual .main_visual_slide .itm .default_btn {
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    gap: 30px;
    padding: 20px 24px;
    color: #555;


    border: 1px solid rgb(85, 85, 85, 0.5);
    overflow: hidden;
}


.main_visual .main_visual_slide .itm .default_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 0;

    z-index: -1;

    background: #fff;

    transition: 0.4s;
}

.main_visual .main_visual_slide .itm .default_btn:hover::before {
    top: auto;
    bottom: 0;
    height: 100%;
}



/* 슬라이드 버튼 */

.main_visual .arrows {
    display: flex;
    position: absolute;

    left: 720px;
    bottom: 112px;



}

.main_visual .arrows button {
    width: 24px;
    height: 24px;

}

.main_visual .arrows .prev {
    background: url(../images/chevron-dleft.svg);
}

.main_visual .arrows .play {
    background: url(../images/play-dcircle.svg);

}

.main_visual .arrows .play.on {
    background: url(../images/pause-dcircle.svg);
}

.main_visual .arrows .next {
    background: url(../images/chevron-dright.svg);

}

/* sec02 */

.main_sec02 {
    background: #fffef2;
    position: relative;
    padding: 160px 0;
    padding-bottom: 240px;
    /* margin: 0 160px; */

    overflow: hidden;
}

.main_sec02 .inner {
    overflow: hidden;
}

.main_sec02 .inner>* {
    flex: 1;
}

.main_sec02 .itm {
    line-height: 40px;
    text-align: center;
}

.main_sec02 .itm figure {}

.main_sec02 .itm figure img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.main_sec02 .itm strong {
    font-weight: 600;

}


.main_sec02 .arrows {
    position: absolute;
    top: 50%;
    left: 50%;



    width: calc(100% + 300px);
    transform: translate(-50%, -50%);

    transition: 0.5s;
}

.main_sec02:hover .arrows {
    width: calc(100% - 100px);
}

.main_sec02 .arrows button {
    position: absolute;
    top: 0;
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, 0.8);
    transform: translate(0, -50%);
}

.main_sec02 .arrows .prev {
    left: 0;
}

.main_sec02 .arrows .next {
    right: 0;
}

/* sec03 */

.main_sec03 {
    position: relative;
    padding: 240px 0;
    background: url(../images/09.jpeg) no-repeat center center/cover;
    background-attachment: fixed;
}

.main_sec03 .inner {
    text-align: center;
    align-items: center;
}

.main_sec03 .title {
    margin-bottom: 0;
    gap: 30px;
}

.main_sec03 .title strong {
    color: #fffef2;
    font-size: 32px;
    ;
}

.main_sec03 .title p {
    color: #fffef2;
    font-size: 16px;
    font-weight: 300;
    margin-top: 24px;
}

/* sec04 */

.main_sec04 {
    position: relative;
    background: #fffef2;
    padding: 240px 0;
    /* 내일조정 */
}

.main_sec04 .inner {
    display: flex;
    align-items: center;
    gap: 80px;
}

.main_sec04 .inner>* {
    flex: 1;

    min-width: 0;
}

.main_sec04 .main_sec04_slide {
    /* border-radius: 8px; */
}

.main_sec04 .main_sec04_slide .itm {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.main_sec04 .left {
    position: relative;
}

.main_sec04 .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    max-width: calc(100% - 40px);
    width: 100%;

    transform: translate(-50%, -50%);
}

.main_sec04 .arrows button {
    position: absolute;
}

.main_sec04 .arrows .prev {
    left: 0;
}

.main_sec04 .arrows .next {
    right: 0;
}

.main_sec04 .page {
    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 3;
}

.main_sec04 .page span {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 8px;
    opacity: 1;
    transition: 0.4s;
}

.main_sec04 .page span.swiper-pagination-bullet-active {
    width: 40px;
}


.main_sec04 .right strong {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 32px;
}

.main_sec04 .right em {
    display: block;
    font-size: 30px;
    margin-bottom: 32px;
    font-weight: 400;


}

.main_sec04 .right p {
    display: block;
    line-height: 32px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 32px;
}

.main_sec04 .right .default_btn {
    font-weight: 500;
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    gap: 30px;
    padding: 20px 24px;
    color: #555;


    border: 1px solid rgb(85, 85, 85, 0.5);
    overflow: hidden;
}


.main_sec04 .right .default_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 0;

    z-index: -1;

    background: #fff;

    transition: 0.4s;
}

.main_sec04 .right .default_btn:hover::before {
    top: auto;
    bottom: 0;
    height: 100%;
}



/* sec05 */

.main_sec05 {
    position: relative;
    padding: 0 0;
    background: #f6f5e9;

}

.main_sec05 .inner {
    position: relative;
    gap: 160px;
    padding: 120px 120px;


}

.main_sec05 .inner>* {
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.main_sec05 .inner strong {
    display: block;
    margin-bottom: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.main_sec05 .inner p {
    font-weight: 300;
    white-space: nowrap;
}

/* 채팅 */

.to_top {
    position: fixed;
    bottom: 64px;
    right: 40px;
    z-index: 999;

    width: 40px;
    height: 40px;
    color: #fff;

}

/* footer */

.footer {
    background: #222;
}

.footer nav {
    color: #fff;
}

.footer .inner {
    margin: 0 0;
}

.footer .inner .top .left {
    position: relative;
    color: #fff;

}

.footer .inner .top .left figure {
    margin-bottom: 40px;
    width: 240px;
}

.footer .inner .top .left strong {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 36px;
}

.footer .inner .top .footer_email {
    display: flex;
    gap: 24px;
    white-space: nowrap;
}

.footer .inner .top .footer_email .email {
    display: inline-block;
    align-items: center;
    padding: 16px 120px;

    border: 1px solid #555;
    border-radius: 4px;
    color: #ddd;
}

.footer .inner .top .footer_email .sb {
    position: relative;
    z-index: 1;
    display: inline-block;
    align-items: center;
    padding: 16px 32px;

    background: #fff;
    border-radius: 4px;
    color: #333;

    font-weight: 500;

    overflow: hidden;

}

.footer .inner .top .footer_email .sb:hover {
    color: #fff;
}

.footer .inner .top .footer_email .sb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 0;

    z-index: -1;

    background: #333;

    transition: 0.4s;
}


.footer .inner .top .footer_email .sb:hover::before {
    top: auto;
    bottom: 0;
    height: 100%;
}


.footer .inner .top {
    display: flex;
    padding: 120px 160px;
    justify-content: space-between;


}

/* right */

.footer .inner .top .right {
    display: flex;
    gap: 140px;

}


.footer .inner .top .right strong {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 24px;

    white-space: nowrap;

    color: #fff;

}

.footer .inner .top .right ul {
    margin-top: 24px;
    color: #fff;
}

.footer .inner .top .right ul>li {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 16px;
    white-space: nowrap;
}

/* bottom */

.footer .inner .bottom {
    border-top: 1px solid #ddd;
    padding: 0 160px;
    padding-bottom: 40px;
}


.footer .inner .bottom .sem {
    font-weight: 500;
    border-bottom: 1px solid #fff;
}

.footer .inner .bottom address {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.footer .inner .bottom address .copy {
    color: #ddd;
    font-size: 16px;
    font-weight: 400;
}

.footer .inner .bottom address ul {
    display: flex;
    color: #ddd;
    font-size: 12px;
    gap: 24px;
}

.footer .inner .bottom address ul>li {
    position: relative;
}

.footer .inner .bottom address ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    width: 1px;
    height: 0.6em;
    background: #ddd;
    transform: translate(0, -50%);
}